<template>
  <div class="home">
    <el-tabs id="headtab" tab-position="top" v-model="activeName" @tab-click="headtabClick">
      <el-tab-pane label="地铁路网"  name="subway">
        <el-tabs id="lefttab"  tab-position="left" type="card" v-model="leftActiveName"  @tab-click="handleClick">
          <el-tab-pane v-for="(item,index) in subwayLineArr" :key="index + item" :id="item.id" :label="item.cn_name" :name="item.cn_name">
            <template v-if="isSort">
              <template v-for="(childrenItem,childrenIndex) in getRightArrBySort(item.id)"  style="display:flex;flex-direction: column;">
                <div class="rightContent"> {{ childrenItem }} </div>
              </template>
            </template>
            <template v-if="!isSort">
              <template v-for="(childrenItem,childrenIndex) in getRightArr(item.id)"  style="display:flex;flex-direction: column;">
                <div class="rightContent"> {{ childrenItem }} </div>
              </template>
            </template>
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="市郊铁路"  name="bus">
        市郊铁路
      </el-tab-pane>
    </el-tabs>

    <div style="position:absolute;top:40px;width:100%;">
      <el-row class="secondst">
          <el-col :span="6">线路</el-col>
          <el-col :span="6">站点</el-col>
          <el-col :span="12" >
      
              <i class="el-icon-sort"></i>
              <el-button @click="toSort()" type="text">排序</el-button>
   
          </el-col>
      </el-row>
    </div>
     


  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { Component, Vue ,Watch ,Emit } from 'vue-property-decorator'
import linedata from '@/components/linedata'
@Component({
  components: {
    // HelloWorld,
  }
})
export default class Home extends Vue {
  activeName = 'subway'
  leftActiveName = '1号线'
  subwayLineArr:Array<any> = [] 
  linedata = linedata

  rightStationArr:Array<any> = []

  isSort = false;

  mounted(){
    // var tmp = linedata;
    // debugger
    this.subwayLineArr = this.linedata.lines_data;
    this.getRightStation('1');
  }
  getRightStation(lineid:string){
    var resultStation = '';
    this.rightStationArr = [];
    
    var marr = this.linedata.stations_data as Array<any>;
    for(var i = 0; i < marr.length; i ++){
      var item = marr[i];
      
      if(lineid == item.lines[0].id){
        this.rightStationArr.push(item.cn_name);
      }
    }
  }
  toSort(){
    this.isSort = !this.isSort;
    console.log(this.isSort)
  }
  getRightArr(lineid:string) :Array<any>{
    var resultStation = '';
    var resArr = [];
    
    var marr = this.linedata.stations_data as Array<any>;
    for(var i = 0; i < marr.length; i ++){
      var item = marr[i];
      
      if(lineid == item.lines[0].id){
        resArr.push(item.cn_name);
      }
    }
    return resArr;
  }
  getRightArrBySort(lineid:string) :Array<any>{
    var resultStation = '';
    var resArr = [];
    
    var marr = this.linedata.stations_data as Array<any>;
    for(var i = 0; i < marr.length; i ++){
      var item = marr[i];
      
      if(lineid == item.lines[0].id){
        resArr.push(item.cn_name);
      }
    }
    return resArr.sort();
  }
  
  
  headtabClick(tab:any,event:any){
    // console.log(tab,event)
  }
  handleClick(tab:any,event:any){
    // console.log(tab,event)
  }

}
</script>
<style scoped lang="scss">
  .secondst{
        background: #F3F3F3;
        height: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
  }
  .rightContent{
    width:100%;height:50px;text-align:left;border-bottom: solid 1px #EEEEEE;
    display: flex;
    align-items: center;
  }
</style>

<style   lang="scss">
  #headtab .el-tabs__nav{
    width: 100%;
  }
  #headtab .el-tabs__item{
    width:50%;
    text-align: center;
  }
  #headtab .el-tabs__content{
    margin-top: 40px;
  }
  #lefttab .el-tabs__item{
    width: 100px;
  }
  #lefttab .is-left{
    background: #F3F3F3;
  }
  #lefttab .is-active{
    background: #fff;
  }
  #lefttab .el-tabs__nav{
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
  #lefttab .el-tabs__content{
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-top:0px;
  }
</style>