<template>
  <div id="app">
   <transition name="fade" mode="in-out">
    <router-view></router-view>
  </transition>
  </div>
</template>

<style lang="scss">
body{
  padding:0;
  margin: 0;
  // overflow: hidden;
};
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.fade-enter {
  opacity:0;
}
.fade-leave{
  opacity:1;
}
.fade-enter-active{
  transition:opacity .3s;
}
.fade-leave-active{
  opacity:0;
  transition:opacity .1s;
}


/* 改变主题色变量 */
$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

</style>

<script lang="ts">

import { Component, Prop,Vue ,Watch} from 'vue-property-decorator'


@Component({
   data() {
     return {
      transitionName: '',
      show: true,
      fadeInDuration: 1000,
      fadeOutDuration: 1000,
      maxFadeDuration: 1500,
      stop: true
    }
   },
  components: {
    
  },
  watch:{
        $route(to, from) {
      //如果to索引大于from索引,判断为前进状态,反之则为后退状态
      if(to.meta.index > from.meta.index){
	    //设置动画名称
        // this.$data.transitionName = 'transitionRouter';
      }else{
        // this.$data.transitionName = 'slide-right';
      }
    }
  }
})
export default class Login extends Vue {


}
</script>